/* Estilos generales */
body {
    margin: 0;
    padding: 0;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.navbar {
    background-color: #333;
    color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #007bff;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color: #333;
}

.h1{
    text-align: center;
}

/* Estilos de la galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px; /* Espacio arriba de la galería */
    padding-bottom: 20px; /* Espacio debajo de la galería */
}

.image {
    position: relative;
    width: calc(33.33% - 20px);
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Sombra ligera */
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover .overlay {
    opacity: 1;
}

.text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Estilo del footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0; /* Reducción del espacio de relleno */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un aspecto más elegante */
}
